@model ImageFileUpload.Models.Image

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@section styles{
    
<link href="~/Content/style.css" rel="stylesheet" />

    }
@using (Html.BeginForm("UploadImage", "Image", FormMethod.Post,
    new {  id = "upload" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal"  >
        <h4>Image</h4>
        <hr />

        <div id="drop">
            <div class="form-group">
                <img name="image" id="image" src="~/Images/No-image-available.jpg" alt="My Picture" />
            </div>
            <a>Upload Image</a>
            @Html.TextBox("file", "", new { @type = "file", @id= "imageUploader", @accept= ".jpg,.png,.gif" , @name="imageFile"})
            <ul></ul>
        </div>

        @*comment*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="Command" value="Create" class="btn btn-default" id="uploadImage" />
            </div>
        </div>


    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.knob.js"></script>
    <script src="~/Scripts//jquery.ui.widget.js"></script>
    <script src="~/Scripts/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jquery.fileupload.js"></script>
    <script src="~/Scripts/ImageUploader/imageUploader.js"></script>

}
